@import "../themes/color-themes";

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 95vh;

	width: 100%;

	@include themify() {
		background-color: t("pricing-background");
	}
}
