@import "../themes/color-themes";

html,
body {
	@include themify() {
		background-color: t("card-background");
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 96vh;

	width: 100%;
}
