@import "../../scss/themes/color-themes";

.card {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 100%;

	// Preferred width
	max-width: 350px;

	// Min before reaching a breakpoint
	min-width: 325px;

	height: 455px;

	border-radius: 10px;

	// Breakpoints
	@media (max-width: 925px) {
		margin: 15px auto;
	}

	// Make side gutters bigger on mobile
	@media (max-width: 400px) {
		max-width: 325px;
	}

	// Child element styles

	// Card title
	h1 {
		margin: 53px 0 20px 0;

		font-size: 18px;
		letter-spacing: 0.5px;
	}

	// Price
	h2 {
		margin: 0;
		font-size: 70px;

		// Used to align currency symbol
		display: flex;
		align-items: center;

		// Currency symbol
		span {
			font-size: 40px;
			margin-right: 5px;
		}
	}

	// Feature list
	ul {
		list-style-type: none;
		text-align: center;

		padding: 0;
		margin: 25px 0 30px 0;

		width: 80%;

		li {
			padding: 18px 0;

			@include themify() {
				border-top: t("card-list-borders");
			}

			&:last-child {
				@include themify() {
					border-bottom: t("card-list-borders");
				}
			}
		}
	}

	// Card Modifiers
	&.primary {
		// Will draw primary card over secondary card box shadow effect
		z-index: 1;

		height: 500px;

		@include themify() {
			color: t("card-title");
			background: t("card-background");
			box-shadow: t("card-shadow");
		}

		@media (max-width: 925px) {
			height: 455px;

			h1 {
				margin: 30px 0 20px 0;
			}
		}
	}

	&.secondary {
		// Secondaries smaller than primary
		min-width: 290px;

		@include themify() {
			color: t("card-title-secondary");
			background: t("card-background-secondary");
			box-shadow: t("card-shadow-secondary");
		}

		h1 {
			margin: 30px 0 20px 0;
		}

		h2 {
			@include themify() {
				color: t("card-pricing-secondary");
			}
		}

		ul {
			@include themify() {
				color: t("card-features-secondary");
			}

			li {
				@include themify() {
					border-top: t("card-list-borders-secondary");
				}

				&:last-child {
					@include themify() {
						border-bottom: t("card-list-borders-secondary");
					}
				}
			}
		}
	}

	// Change border depending on which side the card is on from the primary card
	&.right {
		border-radius: 0 10px 10px 0;
	}

	&.left {
		border-radius: 10px 0 0 10px;
	}
}
