@import "../../scss/variables";

.card {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 100%;

	// Preferred width
	max-width: 350px;

	// Min before reaching a breakpoint
	min-width: 325px;

	height: 455px;

	border-radius: 10px;

	// Breakpoints
	@media (max-width: 925px) {
		margin: 15px auto;
	}

	// Make side gutters bigger on mobile
	@media (max-width: 400px) {
		max-width: 325px;
	}

	// Child element styles

	// Card title
	h1 {
		margin: 53px 0 20px 0;

		font-size: 18px;
		letter-spacing: 0.5px;
	}

	// Price
	h2 {
		margin: 0;
		font-size: 70px;

		// Used to align currency symbol
		display: flex;
		align-items: center;

		// Currency symbol
		span {
			font-size: 40px;
			margin-right: 5px;
		}
	}

	// Feature list
	ul {
		list-style-type: none;
		text-align: center;

		padding: 0;
		margin: 25px 0 30px 0;

		width: 80%;

		li {
			padding: 18px 0;
			border-top: 1px solid #a7acfd;

			&:last-child {
				border-bottom: 1px solid #a7acfd;
			}
		}
	}

	// Card Modifiers
	&.primary {
		// Will draw primary card over secondary card box shadow effect
		z-index: 1;

		height: 500px;

		color: #ffffff;
		background: $cardGradient;

		box-shadow: 0 0 2px 1px rgba(40, 40, 40, 0.15);

		@media (max-width: 925px) {
			height: 455px;

			h1 {
				margin: 30px 0 20px 0;
			}
		}
	}

	&.secondary {
		// Secondaries smaller than primary
		min-width: 290px;

		color: #47495e;
		background: white;

		box-shadow: 1px 15px 35px 1px rgba(53, 57, 78, 0.1);

		h1 {
			margin: 30px 0 20px 0;
			color: #75778c;
		}

		ul {
			color: #75778c;

			li {
				border-top: 1px solid #dbdbdb;

				&:last-child {
					border-bottom: 1px solid #dbdbdb;
				}
			}
		}
	}

	// Change border depending on which side the card is on from the primary card
	&.right {
		border-radius: 0 10px 10px 0;
	}

	&.left {
		border-radius: 10px 0 0 10px;
	}
}
