.footer {
	margin: 35px auto;

	a {
		color: #47495e;
		font-size: 16px;

		margin: 0 8px;

		font-style: italic;
		text-decoration: none;

		&:hover {
			color: #0b0b0f;
			text-decoration: underline;
		}

		&:active {
			color: #47495e;
		}
	}
}
