@import "../../scss//themes/color-themes";

.footer {
	margin: 35px auto;

	a {
		@include themify() {
			color: t("footer-link-color");
		}

		font-size: 16px;

		margin: 0 8px;

		font-style: italic;
		text-decoration: none;

		&:hover {
			@include themify() {
				color: t("footer-link-hover");
			}

			text-decoration: underline;
		}

		&:active {
			@include themify() {
				color: t("footer-link-color");
			}
		}
	}
}
