//* PAGE VARIABLES *//
$pricing-text--dark: #ede4d8;
$pricing-background--dark: #202020;

//* SLIDER VARIABLES *//
$slider-text--dark: #ede4d8;
$slider-toggle--dark: #ede4d8;
$slider-background--dark: linear-gradient(
	to bottom right,
	rgba(163, 168, 240, 0.6),
	rgba(105, 111, 221, 0.6)
);

//* CARD VARIABLES *//
$card-title--dark: #e7dfd2;
$card-pricing--dark: #e7dfd2;
$card-features--dark: #ffffff;

$card-shadow--dark: 0 2px 2px 3px rgba(32, 32, 32, 0.5);
$card-list-borders--dark: 1px solid #8386c7;
$card-background--dark: linear-gradient(
	to bottom right,
	rgba(163, 168, 240, 0.6),
	rgba(105, 111, 221, 0.6)
);

//* CARD SECONDARY *//
$card-title-secondary--dark: #e7dfd2;
$card-pricing-secondary--dark: #e7dfd2;
$card-features-secondary--dark: #e7dfd2;

$card-shadow-secondary--dark: 1px 5px 12px 5px rgba(10, 10, 10, 0.35);
$card-list-borders-secondary--dark: 1px solid #4e5558;
$card-background-secondary--dark: rgba(37, 37, 37, 0.5);

//* BUTTON VARIABLES *//
$button-text--dark: #595ebb;
$button-background--dark: #dadce7;
$button-borders--dark: 1px solid #ffffff;
$button-hover-color--dark: #ffffff;
$button-hover-background--dark: none;

//* BUTTON SECONDARY *//
$button-text-secondary--dark: #f6f6fe;
$button-background-secondary--dark: linear-gradient(
	to right,
	rgba(163, 168, 240, 0.6),
	rgba(105, 111, 221, 0.6)
);

$button-borders-secondary--dark: 1px solid #696fdd;
$button-hover-color-secondary--dark: #7d84ff;
$button-hover-background-secondary--dark: none;

//* FOOTER *//
$footer-link-color--dark: #f3eadd;
$footer-link-hover--dark: #ccc5bb;

$theme-slider-icon-color--dark: white;
